@use '../../variables' as *;
@use '../../mixins' as *;

.loader-overlay {
  @include flex(row, center, center);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--w-background-color-rgb), 0.7);
  z-index: 9999;
  backdrop-filter: blur(5px);
}

.loader-spinner {
  border: 4px solid var(--w-border-color);
  border-top: 4px solid var(--w-primary-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
