@use '../variables' as *;
@use '../mixins' as *;

.home-page {
  &__main-content {
    padding-top: var(--w-spacing-xl);
    padding-bottom: var(--w-spacing-xl);

    @include breakpoint(tv) {
      padding-top: var(--w-spacing-tv-xl);
      padding-bottom: var(--w-spacing-tv-xl);
    }
  }
}
