@use '../variables' as *;
@use '../mixins' as *;

.card-section {
    padding: var(--w-spacing-md) var(--w-spacing-xxl);
    max-width: 1640px;
    margin: 0 auto;
    @include breakpoint(tablet-and-below) {
        padding: var(--w-spacing-md) var(--w-spacing-lg);
      }

    .section-title {
        @include flex(row, space-between, center);
        margin-bottom: var(--w-spacing-md);
        height: 38px;

        h3 {
            font-size: var(--w-font-size-h3);
            font-weight: var(--w-font-weight-semibold);
            display: flex;
            align-items: center;
            margin-bottom: 0;

            i {
                margin-right: var(--w-spacing-sm);
                color: var(--w-primary-color);
            }
        }
        .btn-view-more {
            font-size: var(--w-font-size-md);
            color: var(--w-primary-color);
            text-decoration: none;
            font-weight: var(--w-font-weight-medium);
            i {
                font-size: var(--w-font-size-sm);
            }
            &:hover {
                text-decoration: underline;
                color: var(--w-primary-color-dark);
            }
        }
    }
    
    .section-title__text {
        line-height: 38px
    }
    .section-list {
        display: grid;
        grid-template-rows: auto auto;
        grid-auto-rows: 0;
        overflow: visible;

        &__multi {
            grid-auto-rows: auto;
        }

        &__item {
            margin-bottom: 16px;
        }
    }

    .section-slider {
        position: relative;
        padding: 0 24px;
        margin: 0 -24px;
        
        .swiper-button-custom {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 10;
            width: 48px;
            height: 66px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(var(--w-input-bg-rgb), .45);
            color: var(--w-text-color-inverted);
            border-radius: 10px;
            font-size: var(--w-font-size-xxl);
            border: 1px solid rgba(var(--w-text-color-rgb), .75);
            cursor: pointer;
            opacity: 0;
            transition: var(--w-transition-ease);
    
            &:hover {
                background-color: rgba(var(--w-input-bg-rgb), .85);
                color: var(--w-primary-color);
            }
    
            &.swiper-button-disabled {
                opacity: 0;
                visibility: hidden;
            }

            @include breakpoint(tablet-and-below) {
                display: none;
              }
        }
    
        .swiper-button-prev-custom {
            left: 0;
        }
    
        .swiper-button-next-custom {
            right: 0;
        }
    
        &:hover {
            .swiper-button-custom:not(.swiper-button-disabled) {
                opacity: 1;
            }
        }
    }
    &:not(.card-section--mobile) .section-title{
        margin-bottom: 16px;
    }
    &:not(.card-section--mobile):not(.card-section--single) {
        margin-bottom: 48px;
    }
    &.section-layout-scrollable-row {
        .scrollable-row-container {
            overflow-x: auto;
            overflow-y: hidden;
            padding-bottom: 15px;
            margin-bottom: -15px;

            &::-webkit-scrollbar {
                height: 8px;
            }
            &::-webkit-scrollbar-track {
                background: transparent;
            }
            &::-webkit-scrollbar-thumb {
                background-color: rgba(var(--w-primary-color-rgb), 0.6);
                border-radius: 10px;
                border: 2px solid transparent;
                background-clip: content-box;
            }
            &:hover::-webkit-scrollbar-thumb {
                background-color: rgba(var(--w-primary-color-rgb), 0.8);
            }
        }

        .scrollable-row-content {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            gap: 1rem;
        }
    }

    .no-movies-found {
        text-align: center;
        padding: var(--w-spacing-xl);
        color: var(--w-text-color-light);
        font-size: var(--w-font-size-lg);
        background-color: var(--w-background-color-light);
        border-radius: var(--w-border-radius);
        margin-top: var(--w-spacing-md);
    }
}

.card-section--mobile {
    margin: 0 16px 24px
}

.section-list--row:not(.card-section--mobile--single) {
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 8px
}

.card-section--mobile.card-section--single {
    margin: 0 0 24px
}

.card-section--mobile.card-section--single .section-title {
    margin: 0 16px
}

@media (max-width: 412px) {
    .card-section:not(.card-section--mobile) .section-list:not(.section-list__single) {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 767.5px) {
    .card-section .section-list:not(.section-list__single) {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 8px
    }
}

@media (min-width: 768px) {
    .card-section:not(.card-section--mobile) .section-list:not(.section-list__single) {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 16px
    }
}

@media (min-width: 992px) {
    .card-section:not(.card-section--mobile) .section-list:not(.section-list__single) {
        grid-template-columns: repeat(4, 1fr)
    }
}

@media (min-width: 1200px) {
    .card-section:not(.card-section--mobile) .section-list:not(.section-list__single) {
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 24px
    }

    .card-section:not(.card-section--mobile) .section-list:not(.section-list--single) .section-list__item {
        margin-bottom: 24px
    }
}

@media (min-width: 1400px) {
    .card-section:not(.card-section--mobile) .section-list:not(.section-list__single) {
        grid-template-columns: repeat(6, 1fr);
        grid-column-gap: 24px
    }
  }
