@use '../variables' as *;
@use '../mixins' as *;

.friend-request-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--w-spacing-md);
  padding: var(--w-spacing-md) 0;
}
