@use '../_variables' as *;
@use '../_mixins' as *;

.movie-card {
  display: block;
  text-decoration: none;
  color: var(--w-text-color);
  background-color: transparent;
  border-radius: var(--w-border-radius-lg);
  overflow: hidden;
  transition: var(--w-transition-ease);
  position: relative;

  &:hover {

    .movie-card__overlay {
      opacity: 1;
    }

    .movie-card__title {
      color: var(--w-primary-color);
    }
  }

  &__cover-wrap {
    position: relative;
    padding-top: 150%;
    aspect-ratio: 2 / 3;
    background: no-repeat center / 15%;
    background-color: var(--w-background-color-dark);
    background-image: url('./vite.svg');
    border-radius: var(--w-border-radius-lg);
    overflow: hidden;

    .movie-card--horizontal & {
      padding-top: 56.25%;
      aspect-ratio: 16 / 9;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: inherit;
      transition: transform 0.4s ease;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    @include flex(row, center, center);
    opacity: 0;
    transition: var(--w-transition-ease);

    .fa-play {
      color: #fff;
      font-size: 2.5rem;
    }
  }

  &__info {
    padding: var(--w-spacing-sm) 0;
  }

  &__title {
    font-size: var(--w-font-size-md);
    font-weight: var(--w-font-weight-medium);
    margin: 0 0 var(--w-spacing-xs);
    @include text-truncate(2);
    transition: color 0.3s ease;
  }

  &__meta {
    display: flex;
    align-items: center;
    gap: var(--w-spacing-sm);
    font-size: var(--w-font-size-sm);
    color: var(--w-text-color-light);
  }

  &__quality {
    border: 1px solid var(--w-border-color);
    padding: 2px 6px;
    border-radius: var(--w-border-radius);
    font-size: var(--w-font-size-xs);
    font-weight: var(--w-font-weight-bold);
  }

  // Mini version for episode lists etc.
  &--mini {
    display: flex;
    gap: var(--w-spacing-md);

    .movie-card__poster {
      flex-shrink: 0;
      width: 120px;
      padding-top: 67.5%; // 16:9 aspect ratio for episodes
    }

    .movie-card__info {
      padding: 0;
      align-self: center;
    }

    .movie-card__title {
      font-size: var(--w-font-size-sm);
    }

    .movie-card__meta {
      font-size: var(--w-font-size-xs);
    }
  }
}